.home-section {
  background-image: url("../../Images/background-minimalist-scandinavian-kitchen-interior.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.banner-div {
  padding: 12rem 1rem 1rem 1rem;
}

.banner-image img {
  text-align: center;
  width: 100%;
  height: auto;
}

.banner-text p {
  font-size: 24px;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.banner-text h2 {
  font-size: 4.1rem;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 18px;
}

.banner-text h1 {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.banner-text-icon {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  text-align: start;
}

.banner-text-icon p {
  margin: 30px 5px 10px 5px;
  font-size: 18px;
}

.banner-image-div {
  margin: 8rem auto !important;
  text-align: center;
}

.banner-image-second img {
  width: 150px;
  margin: 20px auto;
}

.banner-image-second h5 {
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 2px;
}

.banner-image-second p {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}

.banner-image-second {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.banner-image-second:hover {
  background-color: white;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.online-container {
  margin: 8rem auto;
}
